<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/style.css">
   
</head>

<body>
<header>
      
   

   
    <nav>
        <ul>
            
           <li><a href="http://127.0.0.1:8000/homepage/"> <b>Home</b></a></li>
            <li><a href="http://127.0.0.1:8000/homepage/about"><b>About</b></a></li>
            <li><a href="http://127.0.0.1:8000/contact/"><b>Contact</b></a></li>
            <li><a href="http://127.0.0.1:8000/services/"><b>Services</b></a></li>
            <li><a href="http://127.0.0.1:8000/services/"><b>Help</b></a></li>
            

        </ul>

        
    </nav>
</header>
    <div>
        <img src="/static/online-learning.jpg" alt="bla" style="width:100%;height: auto;">
    </div>
    <br></br>

    <div>
        <h3>A barnd section of course</h3>
    </div>
    <div>

        <img src="/static/about.jpg" alt="bla" style="width:100%;height: auto;">
    </div>
    <main>
        <h2>About</h2>
        <h2>Services</h2>

        <div>
        <img src="/static/lorem.jpg" alt="bla" style="width:100%;height:auto;">

        </div>
        <ul>
            <li>Web Design</li>
            <li>Graphic Design</li>
            <li>SEO Optimization</li>
        </ul>
    </main>
    <div>
        <footer>

            <div class="footer-content">
                <!<img src="/media/online.jpg" alt="Your Website Logo">
                <p><strong>Online   Learning</strong></p>
                <p>Address: 123 Main Street, City, State, ZIP</p>
                <p>Phone: (123) 456-7890</p>
                <p>Email: <a href="mailto:info@yourwebsite.com">info@yourwebsite.com</a></p>
            </div>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/itskunal/"><img src="/static/Screenshot 2023-09-28 122213.png" alt="Facebook"></a>
                <a href="https://www.linkedin.com/in/itskunal/"><img src="/static/Screenshot 2023-09-28 122333.png" alt="Twitter"></a>
                <a href="https://www.linkedin.com/in/itskunal/"><img src="/static/Screenshot 2023-09-28 122256.png" alt="Instagram"></a>
                <a href="https://www.linkedin.com/in/itskunal/"><img src="/static/Screenshot 2023-09-28 122417.png" alt="LinkedIn"></a>
            </div>
            <div class="footer-links">
                <a href="#">Privacy Policy</a> |
                <a href="#">Terms of Use</a> |
                <span>&copy; 20XX Your Website Name</span>
            </div>
    </div>


    </footer>
</body>

</html>